flask==2.3.3
# ^ was commented out for some reason

# from textblob import TextBlob

#pip install -U textblob 

#textblob==1.0.0


#^ originally said text =1.0.0 which is incorrect for a few reasons:
#- text isn't a real python package but is similar to a real one called textblob so I replaced that 
#- There was a syntax error where only 1 = sign was used instead of 2 which I fixed  

#- Kept getting errors w/ the Docker commands that pointed to this line saying this verion didn't 
#  exist. So I used Pip install textblob & commented out the line, then ran the docker commands & it worked 